@page "/cliente"

@inject ClientesBLL ClientesBLL
@using Radzen
@rendermode InteractiveServer


<EditForm Model= "cliente" OnValidSubmit="Guardar">
	<DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
				<h3>Registro de Clientes</h3>
			</div>
			<div class="card-body">
				@*BuscarId*@
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
					<div class="input-group mb-3">
						<InputNumber @bind-Value="cliente.IdCliente" class="form-control" aria-describedby="buscarButton" />
						<button @onclick="Buscar" class="btn btn-outline-primary" type="button" id="buscarButton">
							<i class="oi oi-magnifying-glass" />
						</button>
					</div>
				</div>
             @*ClienteId*@
				<div class="mb-3">
					<label class="form-label">ClienteId</label>
					<InputNumber @bind-Value="cliente.IdCliente" class="form-control" />
					<ValidationMessage For="@(() => cliente.IdCliente)" />
				</div>

                	@*Nombre*@
				<div class="mb-3">
					<label class="form-label">Nombres</label>
					<InputText @bind-Value="cliente.Nombres" class="form-control" />
					<ValidationMessage For="@(() => cliente.Nombres)" />
				</div>

				@*Telefono*@
				<div class="mb-3">
					<label class="form-label">Tel&eacutefono</label>
					<InputText @bind-Value="cliente.Telefono" class="form-control" />
					<ValidationMessage For="@(() => cliente.Telefono)" />
				</div>

                @*Celular*@
				<div class="mb-3">
					<label class="form-label">Celular</label>
					<InputText @bind-Value="cliente.Celular" class="form-control" />
					<ValidationMessage For="@(() => cliente.Celular)" />
				</div>

				@*Rnc*@
				<div class="mb-3">
					<label class="form-label">Rnc</label>
					<InputText @bind-Value="cliente.Rnc" class="form-control" />
					<ValidationMessage For="@(() => cliente.Rnc)" />
				</div>

                @*Email*@
				<div class="mb-3">
					<label class="form-label">Email</label>
					<InputText @bind-Value="cliente.Email" class="form-control" />
					<ValidationMessage For="@(() => cliente.Email)" />
				</div>

				@*Direccion*@
				<div class="mb-3">
					<label class="form-label">Direcci&oacuten</label>
					<InputText @bind-Value="cliente.Direccion" class="form-control" />
					<ValidationMessage For="@(() => cliente.Direccion)" />
				</div>

                <div class="card-footer d-flex justify-content-center">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-primary" @onclick="Nuevo"> <i class="oi oi-file" /> Nuevo</button>
					<button type="submit" class="btn btn-success"> <i class="oi oi-document" /> Guardar</button>
					<button type="button" class="btn btn-danger" @onclick="Eliminar"><i class="oi oi-trash" /> Eliminar</button>
				</div>
		
        	</div>
        </div>
        </div>
    </div>


</EditForm>

@code {

[Parameter]
    
    public Clientes cliente{get;set;} = new Clientes();

    public void Nuevo()
	{
		cliente = new Clientes();
	}

    public void Guardar(){
        ClientesBLL.Guardar(cliente);
        Nuevo();
    }
    public void Eliminar(){
        Buscar();
        ClientesBLL.Eliminar(this.cliente);
        Nuevo();
    }
    public void Buscar(){
        var ClienteEcontrado = ClientesBLL.Buscar(cliente.IdCliente);
        if(ClienteEcontrado != null){
            this.cliente = ClienteEcontrado;
        }
    }
}
